.photo-frame {
  margin: 10px;
  padding: 15px;
  width: 300px;
  border: 5px solid blue;
}
td {
  border-color: purple;
  border-style: solid;
  border-radius: 5px;
  padding: 0px;
}
.black {
  background-color: black;
  color: white;
}
.header-row {
  background-color: red;
  font-weight: bold;
  font-style: italic;
  border-color: purple;
  border-style: solid;
  border-radius: 5px;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  justify-content: center;
  background-color: white;
}
.card-cover {
  position: relative;
  height: 500px;
  width: 500px;
  background-color: rgba(231, 228, 228);
  justify-content: center;
}

.profile {
  height: 130px;
  width: 130px;
  border-style: solid;
  border-radius: 50%;
  border-color: green;
  justify-content: center;
}
.contact {
  color: grey;
}
